html{
    font-size: 14px;
}
.episode-layout{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vh;
}

.episode-box{
    padding: .5rem;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 191, 194);
    border-bottom: 1px solid black;
    padding: .5rem;
    position: sticky;
    top: 0;
}

.goView{
    background-color:rgb(12, 35, 150);
    color: white;
    border-radius: 30px;
    width: auto;
}
.goView:hover{
    background-color:rgb(13, 44, 201);
    color: wheat;

}
